header {
    background-color: #00008b;
}

#bodyin {
  background-image: url("bode.png");
  background-size: cover;
  background-position: center;
  background-attachment: fixed; /* Mantém a imagem fixa */
  position: fixed; /* Fixa a div na tela */
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1; /* Coloca a imagem atrás do conteúdo */
}
