body{
    margin: 0px;
    height:100%;
    background: linear-gradient(to right, #0f0f0f, #c300ff);
}

header{
    background: linear-gradient(to right, #0f0f0f, #c300ff);
    height:100px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 10px solid;
    border-image-source: linear-gradient(to right, #ff00bf, #000000);
    border-image-slice: 1;
}

#logo{
    position: absolute;
    border-radius: 50px;
    width:120px;
    left: 10px;
}

#titulo{
    margin: 0px;
    font-size: 80px;
    position: absolute;
    bottom: 0px;
    color: #ff00dd;
    text-shadow: 10px 10px 5px #3700ff;
}

#nome{
    font-size: 50px;
    margin-top: 30px;
    text-align: center;
    color: #ff00bf;
    text-shadow: 
                2px 2px 5px #000000,
                2px 2px 5px #000000,
                2px 2px 5px #000000;
    visibility: hidden;
}

.menu-botoes{
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.botao{
    width: 390px;
    height: 230px;
    background-color: #000000;
    border: 1px solid #000000;
    border-right: 5px solid #000000;
    border-bottom: 5px solid #000000;
    border-radius: 20px;
    box-shadow: 10px 10px 10px #000000;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}

.botao:hover{
    width: 390px;
    height: 220px;
    opacity: 50%;
}

#icone{
    width: 100%;
    height: 100%;
    border-radius : 20px;
    object-fit: cover;
}

#rodape{
    position: relative;
    font-size: 30px;
    color:#ff00dd;
    text-shadow: 5px 5px 3px #000000;
    padding-bottom: 15px;
}

footer{
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 70px;
    background: linear-gradient(to right, #0f0f0f, #5b0475);
    display:flex;
    align-items: center;
    justify-content: center;
}

